<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"></html>>
<head>
          <meta charset="UTF-8">
          <meta name="viewport" content="width=device-width, initial-scale=1.0">
          <title>Document</title>
</head>
<body>
          <h1 align="center">Guess the word</h1>
         
          <h2 align="center" th:text="${wordToDisplay}">show  a random word </h2>
          <hr/>
          <div align="center">
                   <form action="game-home">
                    <label>Guess a character:</label>
                    <input type="text" name="guessedChar" align="center"/>
                    <input type="submit" value="try">
                   </form> 
                    
          </div>
</body>
</html>